/* style files importing */
@import "./responsive.css";

/* local fonts importing */
@font-face {
    font-family: "font-bold";
    src: url(../fonts/font-bold/Satoshi-Bold.otf)
}

@font-face {
    font-family: "font-light";
    src: url(../fonts/font-light/Satoshi-Regular.otf)
}

/* root variables */
:root {
    --primary-color-left: #21D6CC;
    --primary-color-right: #219ECF;
    --secondary-color: #2a2f30;
    --font-bold: 'font-bold';
    --font-light: 'font-light';
}

/* Mandatory styles */
*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    font-family: 'font-light', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
}

mark {
    padding: 0 !important;
}

/* page styles  */
body {
    background-image: url(../images/bgimage.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
}

.main-container {
    margin: 20px 40px;
    max-width: 1345px;
}

.nav-container {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.herosection-main-text {
    font-size: 40px;
    font-weight: 400;
}

.profile-img-section {
    min-height: 700px;
    height: 700px;
    justify-content: center;
}

.profile-img-section img {
    width: 100%;
}

.banner-right-exp-section {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    line-height: 35px;
}

.banner-content-section {
    margin-top: 35px;

}

.banner-mega-txt-container {
    padding-left: 20px;
    margin-top: 60px;
    border-left: 2px solid var(--primary-color-left);
}

.banner-mega-txt {
    font-size: 75px;
    font-weight: 500;
    color: #dfdfdf;
}

.banner-email-section {
    margin-top: 25px;
}

.banner-email-section p {
    color: rgb(204 204 204);
    margin-bottom: 10px;
}

.banner-email-section h6 {
    padding-top: 10px;
    font-family: var(--font-bold);
    color: #fff;
}

.banner-content-section p {
    color: rgb(204 204 204);
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.6px;
}

.banner-right-exp-section p {
    color: #d6d6d6;
}

.banner-right-exp-section h1 {
    font-family: var(--font-bold);
    color: #fff;
}

.banner-header-txt {
    margin-top: 50px;
}

.nav-links {
    gap: 3rem;
}

.social-media-container {
    padding-top: 40px;
}

.social-media-container p {
    color: #cccc;
}

.social-media-container a {
    text-decoration: none;
}

.social-media-container a svg {
    color: #FFF;
    font-size: 30px;
    width: 30px;
    height: 30px;
}

.herosection-main-text-colored {
    font-size: 45px;
    font-weight: 500;
    font-family: var(--font-bold);
    background: var(--30B6BE, linear-gradient(180deg, #21D6CC 0%, #219ECF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rocket-planet-container {
    right: -40px;
    top: -6px;
}

.nav-container>ul>a>li:hover {
    background: var(--30B6BE, linear-gradient(180deg, #21D6CC 0%, #219ECF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.nav-container>ul>li {
    cursor: pointer;
}

.rocketpath-container {
    right: 7%;
    top: 3%;
}

.designation-section>span {
    width: 15px;
    height: 15px;
    background: var(--30B6BE, linear-gradient(180deg, #21D6CC 0%, #219ECF 100%));
    content: "";
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}

.designation-section>p {
    color: #FFF;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.herosection-sub-text {
    color: rgb(204 204 204);
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.6px;
}

.primary-btn {
    padding: 12px 19px;
    border-radius: 4px;
    background: #219ECF;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: 0;
    cursor: pointer;
    font-family: var(--font-bold);
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
}

.banner-btn-section {
    margin-top: 50px;
}

.specialities-content {
    color: rgb(204 204 204);
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.6px;
}

.specialization-card {
    height: 275px;
    padding: 6px 30px;
    border-left: 2px solid #fff;
}

.specialization-card-spacing {
    margin-top: 100px;
}

.specialization-card h1 {
    font-family: var(--font-bold);
    color: #fff;
}

.specialization-card-title {
    color: #fff;
    margin-bottom: 10px !important;
}

.specialization-card-text {
    color: rgb(204 204 204);
    font-size: 16px;
}

.primary-btn:hover {
    background: #219ECF !important;
}

.section-headers h1 {
    font-family: var(--font-bold);
}

.section-headers h1 mark {
    color: #219ECF !important;
    background: transparent;
    font-family: var(--font-bold);
}

.section-spacing {
    margin-top: 80px !important;
}

.work-process-header {
    margin-bottom: 80px;
}

.section-headers:after {
    background: var(--30B6BE, linear-gradient(180deg, #21D6CC 0%, #219ECF 100%));
    content: "";
    height: 4px;
    left: 0;
    margin: 12px auto;
    position: absolute;
    right: 90px;
    width: 100px;
}

.aboutus-text-container p,
.techstack-content p {
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0.6px;
}

.work-exp-box {
    gap: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    border: 1px solid #efefef;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 0 25px;
}

.work-exp-box span {
    width: 40px;
    border-radius: 5px;
    font-weight: bolder;
    color: #FFF;
    font-family: var(--font-bold);
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #219ECF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.work-exp-text-container h6 {
    font-size: 18px;
    font-family: var(--font-bold);
    color: #efefef;
}

.work-exp-text-container p {
    color: rgb(204 204 204);
}

.dotted-lines {
    position: absolute;
    left: 50%;
    z-index: -1;
    height: 88%;
}

.experience-content {
    background-color: #2A2F30;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 14px;
    margin-left: 18%;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.experience-content-2 {
    background-color: #2A2F30;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 14px;
    margin-left: 6%;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.experience-role-heading {
    font-size: 20px;
    color: #FFF;
    font-weight: 600;
    font-family: 'font-bold';
}

.experience-role-content {
    font-size: 15px;
    color: #dfdfdf;

}

.company-section div p {
    font-size: 12px;
}

.counts-container, .counts-container-2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -65%);
    -webkit-transform: translate(-50%, -65%);
    -moz-transform: translate(-50%, -65%);
    -ms-transform: translate(-50%, -65%);
    -o-transform: translate(-50%, -65%);
}

.counts-container span, .counts-container-2 span {
    font-size: 16px;
    color: #FFF;
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--30B6BE, linear-gradient(180deg, #21D6CC 0%, #219ECF 100%));
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.work-section-card-pointer-arrow {
    position: absolute;
}

.second-experience-arrow {
    position: absolute;
    right: 2%;
    top: 7%;
    transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
}

.dotted-lines .counts-container-last {
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-38%, -50%);
    -webkit-transform: translate(-38%, -50%);
    -moz-transform: translate(-38%, -50%);
    -ms-transform: translate(-38%, -50%);
    -o-transform: translate(-38%, -50%);
}

.counts-container-last span {
    font-size: 16px;
    color: #FFF;
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--30B6BE, linear-gradient(180deg, #21D6CC 0%, #219ECF 100%));
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.counts-container-last {
    top: 0;
    right: 0;
    position: absolute;
    left: 50%;
    transform: translate(-2%, 53%);
    -webkit-transform: translate(-2%, 53%);
    -moz-transform: translate(-2%, 53%);
    -ms-transform: translate(-2%, 53%);
    -o-transform: translate(-2%, 53%);
}

.work-section-card {
    height: 350px;
    color: white;
    background-size: 100%;
    background-position: center;
    display: flex;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1980aac1;
    height: 100%;
    border-radius: inherit;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}

.content * {
    transform: translateY(-70%);
    transition: all 0.3s ease;
    opacity: 0;
}

.content h2 {
    font-size: 30px;
    margin: 15px;
    font-weight: 700;
    width: 245px;
    text-align: center;
}

.work-section-card:hover .content {
    opacity: 1;
}

.work-section-card:hover .content * {
    opacity: 1;
    transform: translateY(0);
}

/* .live-app-card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: url(../images/myproject-images/videostreamapp.png);
}

.ev-app-card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: url(../images/myproject-images/evrentalapp.png);
}

.job-portal-admin-card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: url(../images/myproject-images/knownjobzadmin.png);
}

.online-learning-app-card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: url(../images/myproject-images/Courses\ page.png);
} */
.work-card-container {
    background-color: #2A2F30;
    border: 1px solid #2c3131;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.view-more-container button {
    width: 30px;
    height: 30px;
    border: 0;
    color: #fff;
    background-color: #219ECF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.view-more-container a {
    text-decoration: none;
    color: #fff;
}

.view-more-container a:hover {
    text-decoration: underline;
}

.work-card-image {
    height: 220px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;

}
.work-card-container{
        border-top-left-radius: 10px;
    border-top-right-radius: 30px;
}
.work-card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
}

.work-card-text {
    color: #FFF;
    padding: 15px;
}

.work-card-text h5 {
    font-family: var(--font-bold);
}

.work-card-text p {
    color: #9c9c9c;
}

.followme-txt {
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0.6px;
}

.follow-me-menus>a>svg {
    color: #fff;
}

.floating-icons {
    display: flex;
    flex-direction: column;
    gap: 13px;
    position: fixed;
    right: 14px;
    top: 65%;
    z-index: 1000;
}

.floating-icons>a {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: grid;
    place-items: center;
    border: 0;
    width: 50px;
    height: 50px;
    color: #fff;
    background: var(--30B6BE, linear-gradient(180deg, #21D6CC 0%, #219ECF 100%));
}

.floating-icons>a:hover {
    background: #219ECF !important;
}

.floating-icons>a>svg {
    width: 26px;
    height: 26px;
}

a:hover {
    color: #fff !important;
}

.mywork-logo {
    background-color: #219ECF;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.work-logo-border-container {
    border: 2px dashed #cdf2ff;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dotted-arrow-image-section {
    width: 160px;
    height: 160px;
    position: absolute;
    right: -34px;
    top: -61px;
    transform: rotate3d(14, 12, 1, 180deg);
}

.dotted-arrow-image-section img {
    width: 100%;
    height: 100%;
}