/* style files importing */
@import "./responsive.css";

/* local fonts importing */
@font-face {
    font-family: "font-bold";
    src: url(../fonts/font-bold/Jost-Bold.otf),
        url(../fonts/font-bold/Jost-Bold.ttf),
        url(../fonts/font-bold/Jost-Bold.woff),
        url(../fonts/font-bold/Jost-Bold.woff2);
}

@font-face {
    font-family: "font-light";
    src: url(../fonts/font-light/Jost-Regular.otf),
        url(../fonts/font-light/Jost-Regular.ttf),
        url(../fonts/font-light/Jost-Regular.woff),
        url(../fonts/font-light/Jost-Regular.woff2);
}

/* root variables */
:root {
    --primary-color-left: #21D6CC;
    --primary-color-right: #219ECF;
    --secondary-color: #2a2f30;
    --font-bold: 'font-bold';
    --font-light: 'font-light';
}

/* Mandatory styles */
*,
body {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    font-family: 'font-light', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
}

/* page styles  */
body {
    background-image: url(../images/bgimage.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    display: flex;
    justify-content: center;
}
.main-container {
    margin: 20px 40px !important;
    max-width: 1345px;
}

.nav-container {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}
.nav-links a{
     text-decoration: none;
     color: #fff;
}
.herosection-main-text {
    font-size: 40px;
    font-weight: 700;
    font-family: var(--font-bold);
}

.herosection-main-text-colored {
    font-size: 40px;
    font-weight: 700;
    font-family: var(--font-bold);
    background: var(--30B6BE, linear-gradient(180deg, #21D6CC 0%, #219ECF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rocket-planet-container {
    right: 0;
    top: 0;
}

.nav-container>ul>a>li:hover {
    background: var(--30B6BE, linear-gradient(180deg, #21D6CC 0%, #219ECF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.nav-container>ul>li {
    cursor: pointer;
}

.rocketpath-container {
    right: 9%;
    top: 3%;
}

.designation-section>span {
    width: 15px;
    height: 15px;
    background: var(--30B6BE, linear-gradient(180deg, #21D6CC 0%, #219ECF 100%));
    content: "";
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}

.designation-section>p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.herosection-sub-text {
    color: #E2E2E2;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}

.primary-btn {
    padding: 8px 24px !important;
    border-radius: 4px;
    background: var(--30B6BE, linear-gradient(180deg, #21D6CC 0%, #219ECF 100%));
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: 0;
    cursor: pointer;
    font-family: var(--font-bold);
}

.primary-btn:hover {
    background: #219ECF !important;
}

.section-headers h1 {
    font-family: var(--font-bold);
}

.section-headers h1 mark {
    color: #219ECF !important;
    background: transparent;
    font-family: var(--font-bold);
}

.section-spacing {
    margin-top: 60px !important;
}

.section-headers:after {
    background: var(--30B6BE, linear-gradient(180deg, #21D6CC 0%, #219ECF 100%));
    content: "";
    height: 4px;
    left: 0;
    margin: 12px auto;
    position: absolute;
    right: 90px;
    width: 100px;
}

.aboutus-text-container p,
.techstack-content p {
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0.6px;
}
.herosection-sub-text{
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.6px;
}
.dotted-lines {
    position: absolute;
    left: 50%;
    z-index: -1;
    height: 88%;
}

.experience-content {
    background-color: #2A2F30;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 14px;
    margin-left: 18% !important;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.experience-content-2 {
    background-color: #2A2F30;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 14px;
    margin-left: 6% !important;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.experience-role-heading {
    font-size: 20px;
    color: #FFF;
    font-weight: 600;
    font-family: 'font-bold';
}

.experience-role-content {
    font-size: 14px;
    color: #c6c6c6;

}

.company-section div p {
    font-size: 12px;
}

.counts-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -65%);
    -webkit-transform: translate(-50%, -65%);
    -moz-transform: translate(-50%, -65%);
    -ms-transform: translate(-50%, -65%);
    -o-transform: translate(-50%, -65%);
}

.counts-container span {
    font-size: 16px;
    color: #FFF;
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--30B6BE, linear-gradient(180deg, #21D6CC 0%, #219ECF 100%));
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.card-pointer-arrow {
    position: absolute;
}

.second-experience-arrow {
    right: 2%;
    top: 7%;
    transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
}

.dotted-lines .counts-container-last {
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-38%, -50%);
    -webkit-transform: translate(-38%, -50%);
    -moz-transform: translate(-38%, -50%);
    -ms-transform: translate(-38%, -50%);
    -o-transform: translate(-38%, -50%);
}

.counts-container-last span {
    font-size: 16px;
    color: #FFF;
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--30B6BE, linear-gradient(180deg, #21D6CC 0%, #219ECF 100%));
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.counts-container-last {
    top: 0;
    right: 0;
    position: absolute;
    left: 50%;
    transform: translate(-2%, 53%);
    -webkit-transform: translate(-2%, 53%);
    -moz-transform: translate(-2%, 53%);
    -ms-transform: translate(-2%, 53%);
    -o-transform: translate(-2%, 53%);
}