@media (min-width: 360px) and (max-width: 1000px) {


    .main-container {
        width: 100%;
        max-width: 100% !important;
        margin: 20px 0 !important;
    }

    .tech-galaxy-img img {
        width: 100%;
    }

    .aboutus-section {
        width: 100%;
    }

    .space-exploration-container, .dotted-lines, .card-pointer-arrow {
        display: none;
    }

    .experience-content,
    .experience-content-2 {
        margin: 0 !important;
    }

    .header-banner-section>div:first-child {
        order: 3;
    }

    .header-banner-section>div:nth-child(2) {
        order: 1;
    }

    .header-banner-section>div:nth-child(3) {
        order: 2;
    }

    .banner-mega-txt {
        font-size: 55px !important;
    }

    .social-media-container {
        padding: 0;
    }
.final-section p{
    width: 100% !important;
}
    .banner-btn-section a {
        width: fit-content !important;
    }

    .header-banner-section {
        flex-direction: column;
        padding-inline: 20px;
    }

    .banner-header-txt {
        flex-direction: column;
    }

    .designation-section {
        justify-content: center;
    }

    .herosection-sub-text {
        text-align: justify;
        padding: 0 20px;

    }

    .primary-btn {
        display: flex;
        margin: 0 auto;
    }

    .profile-img-section {
        justify-content: center !important;
    }

    .aboutus-text-container p,
    .techstack-content p {
        text-align: justify !important;
        line-height: 35px !important;
        letter-spacing: normal !important;
    }

    .aboutus-text-container, .workexp-section, .tech-galaxy-img, .techstack-content, #myworks {
        padding: 0 20px;
    }

    .banner-header-txt {
        gap: 0 !important;
    }

    .nav-links {
        gap: 27px !important;
    }

    .counts-container {
        left: 4% !important;
        top: 35% !important;
    }

    .counts-container-2 {
        left: 4% !important;
        top: 41% !important;
    }

    .experience-content-2 {
        margin-top: 25px !important;
    }

    .specialization-card {
        height: 246px !important;
    }

    .dotted-arrow-image-section {
        display: none;
    }

    .specialization-card-spacing {
        margin-top: 40px !important;
    }

    .workexp-section .row {
        gap: 30px !important;
    }

    .workexp-section .row .col-12 {
        justify-content: center;
    }

}